.form-add-edit{
    border: 1px solid rgb(219, 161, 161);
    border-radius: 4px;
    padding: 2rem;
    width: 50%;
    position: absolute;
    top: 35%;
    transform: translate(0, -50%);
}
.icon-back{
    margin-top: 1rem;
    margin-left: 3rem;
    cursor: pointer;
}
.mat-icon{
    width: 40px;
    height: 40px;
}
.text--edit ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #e5b4ff !important;
}
