::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #fff3cd !important;
 }
 ::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
    color: rgb(218, 33, 33)!important;
 }
 ::ng-deep .mat-mdc-button:not(:disabled)  {
    color: rgb(218, 33, 33)!important;
 }